.work-projects {
  &__block {
    border: 1px solid #cccccc;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      height: 200px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      padding: .3125rem /* 5/16 */;
    }
  }

  &--block {
    margin-bottom: 2rem;
    background-color: #fff;
  }

  &__detail {
    padding: 1rem;
    overflow: hidden;
    background-color: #fff;
  }

  &__title {
    font-size: 1.2rem;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;

    @media only screen and (max-width : 1200px) {
      font-size: 1rem;
    }

    @media only screen and (max-width : 480px) {
      font-size: 1rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width : 768px) {
      flex-direction: column;
    }

    a {
      color: #444444;
      text-transform: uppercase;
      padding: 10px 50px;
      font-family: 'Play', sans-serif;
      font-size: 12px;
      border-left: 1px solid #cccccc;
      cursor: pointer;
      margin-bottom: .625rem
        /* 10/16 */
      ;
      text-align: center;

      @media only screen and (max-width : 1200px) {
        width: 100%;
        padding: 10px 20px;
        margin-right: .625rem /* 10/16 */;
      }

      &:hover {
        text-decoration: none;
      }

      &:first-child {
        border-left: none;
        background-color: #979a97;
        color: white;

        &:hover {
          background-color: lighten(#979a97, 4%);
        }
      }

      &:last-child {
        border-left: none;
        background-color: #101080;
        color: white;

        &:hover {
          background-color: lighten(#101080, 4%);
        }
      }
    }
  }
}