.offer-image {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  margin-top: 5rem;
  margin-bottom: 5rem;

  img {
    max-width: 350px;
  }
}

.offer-form {
  .form {
    &-group {
      select {
        background-color: #ffffff !important;
        background: url("../../assets/arrow-down.svg") no-repeat right 0.625rem center;
        background-color: rgba(0, 0, 0, 0);
        background-size: 1.25rem /* 20/16 */;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
      }
    }

    &-label {
      font-family: 'Play', sans-serif;
      text-transform: uppercase;
      font-size: .9375rem
        /* 15/16 */
      ;
    }

    &-control {
      border-radius: 0;
      border-color: #101080;

      option {
        font-family: 'Play', sans-serif;
        text-transform: uppercase;
        font-size: .9375rem
          /* 15/16 */
        ;
      }

      &:focus {
        border-color: darkblue;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
        outline: 0 none;
      }
    }
  }

  .btn {
    padding: 0.7rem 3.75rem;
    border-radius: 0;
    background-color: #101080;
    border: 0;

    &:hover {
      background-color: lighten(#101080, 4%);
    }

    &:disabled {
      opacity: 1;
      background-color: #101080 !important;
      box-shadow: none;
    }

    &.btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
      background-color: #101080;
      box-shadow: none;

      &:focus {
        border-color: #101080;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
        outline: 0 none;
      }
    }
  }
}

.sended {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: hsla(0, 0%, 100%, .5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__message {
    min-width: 390px;
    padding: 1.875rem
      /* 30/16 */
    ;
    background-color: #101080;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0);
    position: relative;
    max-width: 50%;
    color: #fff;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.alert {
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  margin-top: 0.3rem;
  font-size: 12px;
  border-radius: 0 !important;

  &-success {
    font-size: 13px;
    background-color: #b7f1c3 !important;
    text-align: center;

    svg {
      margin-right: .625rem
        /* 10/16 */
      ;
    }
  }
}