.content {
  padding: 70px 0 70px;
  min-height: 100vh;
  overflow-x: hidden;

  .container,
  .container-md,
  .container-sm {
    @media only screen and (max-width : 992px) {
      max-width: 100%;
    }
  }

  &.bg {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../assets/banner.jpg') no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  &-title {
    font-size: 1.4rem;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    margin-bottom: 4rem;
    text-transform: uppercase;

    @media only screen and (max-width : 768px) {
      font-size: 1.2rem;
    }
  }
}

a {
  color: #444444;

  &:hover {
    text-decoration: none;
    color: #444444;
  }
}