.about {
  padding: 15px 15px;
  margin-bottom: 15px;
  text-align: center;

  img {
    max-width: 150px;
    margin-bottom: 1rem;

    @media only screen and (max-width : 768px) {
      max-width: 100px;
    }
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    font-weight: 400;

    @media only screen and (max-width : 768px) {
      font-size: 1rem;
    }
  }
}