.offer {
  &__btns {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    &-btn {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      background: none;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16078);
      outline: none;
      padding: 0 20px;

      &--darkblue {
        background-color: #979a97;
      }

      &:hover {
        background-color: #050567;
      }

      svg {
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}