.main-banner {
  min-height: 700px;
  background: url('../../assets/banner.jpg') no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: center;
    padding-top: 120px;

    &-text {
      font-size: 3.5rem;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}