.contact {
  padding: 15px 15px;
  margin-bottom: 15px;

  p {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Play', sans-serif;
    font-weight: 700;

    @media only screen and (max-width : 768px) {
      font-size: 1.5rem;
    }

    &:not(:first-child) {
      font-weight: 400;
      font-size: 2.1rem;

      @media only screen and (max-width : 768px) {
        font-size: 1.2rem;
      }
    }

    img {
      width: 300px;
    }
  }
}