.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 8px 24px 0 rgba(68, 99, 137, .1);
  box-shadow: 0 8px 24px 0 rgba(68, 99, 137, .1);
  padding: 0 10px;

  @media only screen and (max-width : 768px) {
    justify-content: space-between;
  }

  @media only screen and (max-width : 992px) {
    justify-content: space-between;
  }


  &__logo {
    margin-top: .1875rem
      /* 3/16 */
    ;
    margin-bottom: .1875rem
      /* 3/16 */
    ;

    img {
      max-width: 120px;

      @media only screen and (max-width : 768px) {
        max-width: 100px;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;

    @media only screen and (max-width : 768px) {
      display: none;

      &.is-open {
        display: block;
        position: fixed;
        right: 0px;
        top: 50px;
        bottom: 0px;
        overflow-y: auto;
        background: #ffffff;
        width: 100%;
        max-width: 320px;
        overflow-x: hidden;
        text-align: left;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
        z-index: 5;
        padding: 0;
      }
    }

    &-item {
      padding: 10px 50px;
      font-family: 'Play', sans-serif;
      font-size: 1rem;
      border-left: 1px solid #cccccc;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        background-color: lighten(#cccccc, 5%) !important;
        color: #020265;

        &:last-child {
          background-color: transparent;
        }

        a {
          color: #020265;
          text-decoration: none;
        }
      }

      @media only screen and (max-width : 992px) {
        padding: 10px 20px;
      }

      @media only screen and (max-width : 768px) {
        border-bottom: 1px solid #cccccc;
        padding: 10px 20px;
      }

      @media only screen and (max-width : 1200px) {
        padding: 10px 20px;
      }


      a {
        color: #444444;
        text-transform: uppercase;
      }

      // &:hover {
      //   background-color: lighten(#cccccc, 5%);
      //   color: #020265;

      //   &:last-child {
      //     background-color: transparent;
      //   }

      //   a {
      //     color: #020265;
      //     text-decoration: none;
      //   }
      // }
    }
  }
}

.hamburger-react {
  display: none;

  @media only screen and (max-width : 768px) {
    display: block;
  }
}