.not-found {
  text-align: center;
  padding-top: 100px;

  h1 {
    font-size: 5rem;

    @media only screen and (max-width : 768px) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 2rem;

    @media only screen and (max-width : 768px) {
      font-size: 1.3rem;
    }
  }
}