.main-footer {
  background-color: darkblue;
  font-size: 1rem;
  font-family: 'Play', sans-serif;
  font-weight: 300;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #454343;
    min-height: 60px;
    background-color: #04044f;
    font-size: .875rem /* 14/16 */;
    cursor: pointer;

    a {
      color: #ffffff;
      vertical-align: middle;
    }

    &:hover {
      background-color: lighten(#04044f, 5%);
    }

    &:first-child {
      border-left: none;
    }

    &__contact {
      text-align: center;
      color: #ffffff;

      svg {
        margin-right: 5px;
        vertical-align: middle;
        font-size: 1.4rem;
      }

      img {
        width: 110px;
      }
    }
  }
}