.work-project {
  &__view {
    padding: 15px 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

    img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }

  &__info {
    padding: 15px 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

    &-name {
      font-size: 1.8rem;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-description {
      text-justify: justify;
    }

    &-buttons {
      display: flex;
      justify-content: space-around;


      @media only screen and (max-width : 768px) {
        flex-direction: column;
      }

      a {
        color: #444444;
        text-transform: uppercase;
        padding: 10px 50px;
        font-family: 'Play', sans-serif;
        font-size: 1rem;
        border-left: 1px solid #cccccc;
        cursor: pointer;
        margin-right: .625rem
          /* 10/16 */
        ;
        margin-bottom: .625rem
          /* 10/16 */
        ;
        text-align: center;
        width: 100%;

        @media only screen and (max-width : 768px) {
          font-size: 0.8rem;
        }

        &:hover {
          text-decoration: none;
        }

        &:first-child {
          border-left: none;
          background-color: #979a97;
          color: white;

          &:hover {
            background-color: lighten(green, 4%);
          }
        }

        &:last-child {
          border-left: none;
          background-color: #101080;
          color: white;

          &:hover {
            background-color: lighten(#101080, 4%);
          }
        }
      }
    }
  }
}